--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: weather_currentweather; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_currentweather (
    id bigint NOT NULL,
    temperature numeric(5,2) NOT NULL,
    humidity numeric(5,2) NOT NULL,
    wind_speed numeric(5,2) NOT NULL,
    pressure numeric(10,2) NOT NULL,
    weather_condition character varying(255) NOT NULL,
    icon_url character varying(255) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.weather_currentweather OWNER TO postgres;

--
-- Name: weather_currentweather_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_currentweather ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_currentweather_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_forecast; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_forecast (
    id bigint NOT NULL,
    forecast_type character varying(20) NOT NULL,
    forecast_time timestamp with time zone NOT NULL,
    high_temperature numeric(5,2) NOT NULL,
    low_temperature numeric(5,2) NOT NULL,
    rain_probability numeric(5,2) NOT NULL,
    uv_index numeric(5,2) NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.weather_forecast OWNER TO postgres;

--
-- Name: weather_forecast_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_forecast ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_forecast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_location (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    latitude numeric(10,7) NOT NULL,
    longitude numeric(10,7) NOT NULL,
    country_code character varying(10) NOT NULL,
    is_auto_detected boolean NOT NULL
);


ALTER TABLE public.weather_location OWNER TO postgres;

--
-- Name: weather_location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_location ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_newsarticle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_newsarticle (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    published_at timestamp with time zone NOT NULL,
    image character varying(100)
);


ALTER TABLE public.weather_newsarticle OWNER TO postgres;

--
-- Name: weather_newsarticle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_newsarticle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_newsarticle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_openweathermapapiusage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_openweathermapapiusage (
    id bigint NOT NULL,
    api_call_time timestamp with time zone NOT NULL,
    response_status integer NOT NULL,
    request_type character varying(20) NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.weather_openweathermapapiusage OWNER TO postgres;

--
-- Name: weather_openweathermapapiusage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_openweathermapapiusage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_openweathermapapiusage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_supplementarydata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_supplementarydata (
    id bigint NOT NULL,
    air_quality numeric(5,2) NOT NULL,
    sunrise_time time without time zone NOT NULL,
    sunset_time time without time zone NOT NULL,
    moon_phase character varying(20) NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.weather_supplementarydata OWNER TO postgres;

--
-- Name: weather_supplementarydata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_supplementarydata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_supplementarydata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_usernewsshare; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_usernewsshare (
    id bigint NOT NULL,
    shared_at timestamp with time zone NOT NULL,
    news_article_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.weather_usernewsshare OWNER TO postgres;

--
-- Name: weather_usernewsshare_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_usernewsshare ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_usernewsshare_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_userprofile (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    notification_settings jsonb NOT NULL,
    confirmation_token character varying(36)
);


ALTER TABLE public.weather_userprofile OWNER TO postgres;

--
-- Name: weather_userprofile_favorite_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_userprofile_favorite_locations (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.weather_userprofile_favorite_locations OWNER TO postgres;

--
-- Name: weather_userprofile_favorite_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_userprofile_favorite_locations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_userprofile_favorite_locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_userprofile_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_userprofile_groups (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.weather_userprofile_groups OWNER TO postgres;

--
-- Name: weather_userprofile_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_userprofile_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_userprofile_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_userprofile_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_userprofile_user_permissions (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.weather_userprofile_user_permissions OWNER TO postgres;

--
-- Name: weather_userprofile_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_userprofile_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_userprofile_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: weather_weatheralert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather_weatheralert (
    id bigint NOT NULL,
    alert_type character varying(50) NOT NULL,
    message text NOT NULL,
    issued_at timestamp with time zone NOT NULL,
    location_id bigint NOT NULL,
    recommendation text,
    severity character varying(20) NOT NULL
);


ALTER TABLE public.weather_weatheralert OWNER TO postgres;

--
-- Name: weather_weatheralert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.weather_weatheralert ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.weather_weatheralert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
05cd443a990c65e72b421b27405658cc8ed3c97c	2025-03-18 22:30:15.452418+07	1
c719a5b2cb0e8c4df501dc300959de87b571a51f	2025-03-18 22:34:02.419712+07	2
a308130ebea9e6d5dd1582a902cb020148d84229	2025-03-19 07:34:22.692254+07	3
40e99a7fe2c309bc5ad018611fdd6da128916503	2025-03-24 16:28:37.35577+07	4
b11e823f8161592ac55051743c8aab2b53b3d0b5	2025-04-13 14:49:43.291532+07	5
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	weather	location
7	weather	newsarticle
8	weather	forecast
9	weather	currentweather
10	weather	userprofile
11	weather	openweathermapapiusage
12	weather	supplementarydata
13	weather	usernewsshare
14	weather	weatheralert
15	authtoken	token
16	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: weather_currentweather; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weather_forecast; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weather_location; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weather_newsarticle; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weather_openweathermapapiusage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_openweathermapapiusage (id, api_call_time, response_status, request_type, location_id) FROM stdin;
\.


--
-- Data for Name: weather_supplementarydata; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_supplementarydata (id, air_quality, sunrise_time, sunset_time, moon_phase, location_id) FROM stdin;
\.


--
-- Data for Name: weather_usernewsshare; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_usernewsshare (id, shared_at, news_article_id, user_id) FROM stdin;
\.


--
-- Data for Name: weather_userprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weather_userprofile_favorite_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_userprofile_favorite_locations (id, userprofile_id, location_id) FROM stdin;
2	4	4
4	4	72
5	4	20
\.


--
-- Data for Name: weather_userprofile_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_userprofile_groups (id, userprofile_id, group_id) FROM stdin;
\.


--
-- Data for Name: weather_userprofile_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather_userprofile_user_permissions (id, userprofile_id, permission_id) FROM stdin;
\.


--
-- Data for Name: weather_weatheralert; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: weather_currentweather_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_currentweather_id_seq', 97, true);


--
-- Name: weather_forecast_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_forecast_id_seq', 5353, true);


--
-- Name: weather_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_location_id_seq', 80, true);


--
-- Name: weather_newsarticle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_newsarticle_id_seq', 8, true);


--
-- Name: weather_openweathermapapiusage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_openweathermapapiusage_id_seq', 1, false);


--
-- Name: weather_supplementarydata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_supplementarydata_id_seq', 1, false);


--
-- Name: weather_usernewsshare_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_usernewsshare_id_seq', 1, false);


--
-- Name: weather_userprofile_favorite_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_userprofile_favorite_locations_id_seq', 5, true);


--
-- Name: weather_userprofile_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_userprofile_groups_id_seq', 1, false);


--
-- Name: weather_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_userprofile_id_seq', 5, true);


--
-- Name: weather_userprofile_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_userprofile_user_permissions_id_seq', 1, false);


--
-- Name: weather_weatheralert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.weather_weatheralert_id_seq', 1069, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: weather_currentweather weather_currentweather_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_currentweather
    ADD CONSTRAINT weather_currentweather_pkey PRIMARY KEY (id);


--
-- Name: weather_forecast weather_forecast_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_forecast
    ADD CONSTRAINT weather_forecast_pkey PRIMARY KEY (id);


--
-- Name: weather_location weather_location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_location
    ADD CONSTRAINT weather_location_pkey PRIMARY KEY (id);


--
-- Name: weather_newsarticle weather_newsarticle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_newsarticle
    ADD CONSTRAINT weather_newsarticle_pkey PRIMARY KEY (id);


--
-- Name: weather_openweathermapapiusage weather_openweathermapapiusage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_openweathermapapiusage
    ADD CONSTRAINT weather_openweathermapapiusage_pkey PRIMARY KEY (id);


--
-- Name: weather_supplementarydata weather_supplementarydata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_supplementarydata
    ADD CONSTRAINT weather_supplementarydata_pkey PRIMARY KEY (id);


--
-- Name: weather_usernewsshare weather_usernewsshare_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_usernewsshare
    ADD CONSTRAINT weather_usernewsshare_pkey PRIMARY KEY (id);


--
-- Name: weather_userprofile_favorite_locations weather_userprofile_favo_userprofile_id_location__c41948e4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_favorite_locations
    ADD CONSTRAINT weather_userprofile_favo_userprofile_id_location__c41948e4_uniq UNIQUE (userprofile_id, location_id);


--
-- Name: weather_userprofile_favorite_locations weather_userprofile_favorite_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_favorite_locations
    ADD CONSTRAINT weather_userprofile_favorite_locations_pkey PRIMARY KEY (id);


--
-- Name: weather_userprofile_groups weather_userprofile_grou_userprofile_id_group_id_5b3f3d1c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_groups
    ADD CONSTRAINT weather_userprofile_grou_userprofile_id_group_id_5b3f3d1c_uniq UNIQUE (userprofile_id, group_id);


--
-- Name: weather_userprofile_groups weather_userprofile_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_groups
    ADD CONSTRAINT weather_userprofile_groups_pkey PRIMARY KEY (id);


--
-- Name: weather_userprofile weather_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile
    ADD CONSTRAINT weather_userprofile_pkey PRIMARY KEY (id);


--
-- Name: weather_userprofile_user_permissions weather_userprofile_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_user_permissions
    ADD CONSTRAINT weather_userprofile_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: weather_userprofile_user_permissions weather_userprofile_user_userprofile_id_permissio_d08a97d0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_user_permissions
    ADD CONSTRAINT weather_userprofile_user_userprofile_id_permissio_d08a97d0_uniq UNIQUE (userprofile_id, permission_id);


--
-- Name: weather_userprofile weather_userprofile_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile
    ADD CONSTRAINT weather_userprofile_username_key UNIQUE (username);


--
-- Name: weather_weatheralert weather_weatheralert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_weatheralert
    ADD CONSTRAINT weather_weatheralert_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: weather_currentweather_location_id_50391663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_currentweather_location_id_50391663 ON public.weather_currentweather USING btree (location_id);


--
-- Name: weather_forecast_location_id_7e7ac02d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_forecast_location_id_7e7ac02d ON public.weather_forecast USING btree (location_id);


--
-- Name: weather_openweathermapapiusage_location_id_89708e7b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_openweathermapapiusage_location_id_89708e7b ON public.weather_openweathermapapiusage USING btree (location_id);


--
-- Name: weather_supplementarydata_location_id_be96fb32; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_supplementarydata_location_id_be96fb32 ON public.weather_supplementarydata USING btree (location_id);


--
-- Name: weather_usernewsshare_news_article_id_1930b629; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_usernewsshare_news_article_id_1930b629 ON public.weather_usernewsshare USING btree (news_article_id);


--
-- Name: weather_usernewsshare_user_id_d86ccfb8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_usernewsshare_user_id_d86ccfb8 ON public.weather_usernewsshare USING btree (user_id);


--
-- Name: weather_userprofile_favorite_locations_location_id_abc97051; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_favorite_locations_location_id_abc97051 ON public.weather_userprofile_favorite_locations USING btree (location_id);


--
-- Name: weather_userprofile_favorite_locations_userprofile_id_87ef1822; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_favorite_locations_userprofile_id_87ef1822 ON public.weather_userprofile_favorite_locations USING btree (userprofile_id);


--
-- Name: weather_userprofile_groups_group_id_73ef5c7b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_groups_group_id_73ef5c7b ON public.weather_userprofile_groups USING btree (group_id);


--
-- Name: weather_userprofile_groups_userprofile_id_8adbeff6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_groups_userprofile_id_8adbeff6 ON public.weather_userprofile_groups USING btree (userprofile_id);


--
-- Name: weather_userprofile_user_permissions_permission_id_29e58481; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_user_permissions_permission_id_29e58481 ON public.weather_userprofile_user_permissions USING btree (permission_id);


--
-- Name: weather_userprofile_user_permissions_userprofile_id_2b3e31f2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_user_permissions_userprofile_id_2b3e31f2 ON public.weather_userprofile_user_permissions USING btree (userprofile_id);


--
-- Name: weather_userprofile_username_e6285e8e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_userprofile_username_e6285e8e_like ON public.weather_userprofile USING btree (username varchar_pattern_ops);


--
-- Name: weather_weatheralert_location_id_2052f040; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX weather_weatheralert_location_id_2052f040 ON public.weather_weatheralert USING btree (location_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_weather_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_weather_userprofile_id FOREIGN KEY (user_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_weather_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_weather_userprofile_id FOREIGN KEY (user_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_currentweather weather_currentweath_location_id_50391663_fk_weather_l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_currentweather
    ADD CONSTRAINT weather_currentweath_location_id_50391663_fk_weather_l FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_forecast weather_forecast_location_id_7e7ac02d_fk_weather_location_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_forecast
    ADD CONSTRAINT weather_forecast_location_id_7e7ac02d_fk_weather_location_id FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_openweathermapapiusage weather_openweatherm_location_id_89708e7b_fk_weather_l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_openweathermapapiusage
    ADD CONSTRAINT weather_openweatherm_location_id_89708e7b_fk_weather_l FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_supplementarydata weather_supplementar_location_id_be96fb32_fk_weather_l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_supplementarydata
    ADD CONSTRAINT weather_supplementar_location_id_be96fb32_fk_weather_l FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_usernewsshare weather_usernewsshar_news_article_id_1930b629_fk_weather_n; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_usernewsshare
    ADD CONSTRAINT weather_usernewsshar_news_article_id_1930b629_fk_weather_n FOREIGN KEY (news_article_id) REFERENCES public.weather_newsarticle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_usernewsshare weather_usernewsshar_user_id_d86ccfb8_fk_weather_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_usernewsshare
    ADD CONSTRAINT weather_usernewsshar_user_id_d86ccfb8_fk_weather_u FOREIGN KEY (user_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_favorite_locations weather_userprofile__location_id_abc97051_fk_weather_l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_favorite_locations
    ADD CONSTRAINT weather_userprofile__location_id_abc97051_fk_weather_l FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_user_permissions weather_userprofile__permission_id_29e58481_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_user_permissions
    ADD CONSTRAINT weather_userprofile__permission_id_29e58481_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_user_permissions weather_userprofile__userprofile_id_2b3e31f2_fk_weather_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_user_permissions
    ADD CONSTRAINT weather_userprofile__userprofile_id_2b3e31f2_fk_weather_u FOREIGN KEY (userprofile_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_favorite_locations weather_userprofile__userprofile_id_87ef1822_fk_weather_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_favorite_locations
    ADD CONSTRAINT weather_userprofile__userprofile_id_87ef1822_fk_weather_u FOREIGN KEY (userprofile_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_groups weather_userprofile__userprofile_id_8adbeff6_fk_weather_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_groups
    ADD CONSTRAINT weather_userprofile__userprofile_id_8adbeff6_fk_weather_u FOREIGN KEY (userprofile_id) REFERENCES public.weather_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_userprofile_groups weather_userprofile_groups_group_id_73ef5c7b_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_userprofile_groups
    ADD CONSTRAINT weather_userprofile_groups_group_id_73ef5c7b_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: weather_weatheralert weather_weatheralert_location_id_2052f040_fk_weather_l; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weather_weatheralert
    ADD CONSTRAINT weather_weatheralert_location_id_2052f040_fk_weather_l FOREIGN KEY (location_id) REFERENCES public.weather_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

